$ffR: 'Roboto', sans-serif;
$ffTT: "TTFirsNeue", sans-serif;

$cWhite: #fff;
$cOrange: #ff6e30;
$cOrangeDirty: #bc572b;
$cOrangeDark: #ce4307;

$cGray: #333;
$cGrayLight: #cacaca;
$cGrayLight2: #999;
$cGrayDark: #202020;

$cInputDark: #4a4a4a;
$cInputLight: #e9e9e9;

$cSvg: #c6c6c6;

$cQuoteName: #666;
