.experience {
  &__container {
    position: relative;
    display: flex;
    padding-top: 55px;
    padding-bottom: 140px;

    &::before {
      position: absolute;
      bottom: 12%;
      right: 0;
      content: url(../img/experience/experience-right.svg);
    }
  }

  &__picture {
    position: relative;
    width: 50%;
    height: 495px;
    background-image: url(../img/experience/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &::after {
      position: absolute;
      top: 78%;
      left: -23%;
      content: url(../img/experience/experience-left.svg);
      display: block;
    }
  }

  &__content {
    display: flex;
    width: 42.3%;
    padding: 7.5% 30px 7% 0;
    margin-left: auto;
  }

  &__title {
    padding-top: 5px;
    font-family: $font617;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: $cWhite;
  }

  &__text {
    max-width: 74%;
    font-size: 18px;
    line-height: 27px;
    color: $cText;
  }

  &__link {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    padding-right: 40px;
    color: $cYellow;
    font-family: $font617;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    background-image: url(../img/experience/smiley.svg);
    background-repeat: no-repeat;
    background-position: center left;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../img/arrow.svg);
      background-repeat: no-repeat;
      transform: rotate(-45deg);
    }
  }
}

.accordion {
  &__item {
    cursor: pointer;
  }

  &__content {
    margin-top: 16px;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
  }
}

.accordion__item.active .accordion__content {
  height: 175px;
}

.experience__numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &-progress {
    width: 2px;
    // min-height: 75%;
    height: 206px;
    background-color: #fff;
  }

  &-start,
  &-end {
    font-family: $font617;
  }

  &-start {
    padding-top: 10px;
    font-size: 14px;
    color: #F7D960;
  }

  &-end {
    padding-bottom: 20px;
    font-size: 10px;
    color: #FFFCEF;
  }
}

@media (max-width: 1331px) {
  .experience__container {
    padding-bottom: 130px;
  }

  .experience__text {
    max-width: 82%;
  }

  .experience__picture {
    height: 460px;

    &::after {
     left: -20%;
     content: url(../img/experience/experience-left_1200.svg);
    }
  }
}

@media (max-width: 1202px) {
  .experience {
    &__content {
      padding: 5.9% 20px 11% 0;
    }

    &__numbers-end {
      padding-bottom: 5px;
    }

    &__text {
      max-width: 85%;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .experience__picture {
    height: 446px;

     &::after {
       left: -25%;
     }
  }
}

@media (max-width: 1025px) {
  .experience {
    &__container {
      padding-top: 40px;
      padding-bottom: 80px;

      &::before {
        bottom: 0;
      }
    }
    &__content {
      padding-right: 0;
    }

    &__link {
      padding-right: 35px;
    }

    &__picture {
      height: 453px;
      &::after {
        content: url(../img/experience/experience-left_1024.svg);
        left: -12%;
        top: 86%;
      }
   }
  }
}

@media (max-width: 863px) {
  .experience {
    &__container {
      padding: 30px 24px 50px;
    }

    &__title {
      margin-bottom: 12px;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
    }

    &__picture {
      height: 400px;
    }
  }

  .experience__link_first {
    max-width: 70%;
    background-position: top left;

    &::after {
      top: 24px;
      right: auto;
      left: 180px;
    }
  }
}

@media (max-width: 768px) {
  .experience {
    &__container {
      display: block;
      padding: 51px 0 87px;

      &::before {
        right: 13%;
        bottom: -1%;
        content: url(../img/experience/experience-right_320.svg);
      }
    }

    &__content {
      display: block;
      width: 100%;
      padding-right: 0;
      padding: 48px 24px 0;
    }

    &__steps {
      margin-bottom: 45px;
    }

    &__title {
      margin-bottom: 8px;
    }

    &__text {
      max-width: 90%;
      font-size: 14px;
      line-height: 21px;
    }

    &__link {
      padding-right: 39px;
    }

    &__numbers {
      flex-direction: row;

      &-progress {
        height: 2px;
        width: 70%;
      }
    }

    &__picture {
      width: 100%;
      height: 365px;
      background-image: url(../img/experience/img_768.jpg);


      &::after {
        content: url(../img/experience/experience-left_320.svg);
        left: 0;
        top: 77%;
      }
    }
  }

  .experience__link_first {
    max-width: 100%;
    background-position: top left;

    &::after {
      top: 0;
      right: 0;
      left: auto;
    }
  }

  .accordion__item.active .accordion__content {
    height: 120px;
  }
}

@media (max-width: 370px) {
  .experience__link_first {
    max-width: 90%;

    &::after {
      top: 24px;
      right: auto;
      left: 180px;
    }
  }

  .experience__text {
    max-width: 100%;
  }

  .accordion__item.active .accordion__content {
    height: 140px;
  }
}
