.header {
  position: fixed;
  z-index: 95;
  width: 100vw;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &::before{
    z-index: 80;
    background-color: $cBg-header;
    backdrop-filter: blur(42px);
  }
  &::after {
    z-index: 90;
    background-image: url(../img/mask.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  &__container {
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    min-height: 116px;
    padding: 21px 50px 15px;
    font-family: $fontAxiforma;
  }

  &__logo {
    margin-right: 125px;
  }

  &__nav-list {
    display: flex;
    color: #FFFCEF;
  }

  &__nav-item:not(:last-child) {
    margin-right: 53px;
  }

  // &__nav-item {

  // }

  &__nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;

    &::after, &::before {
      position: absolute;
      display: block;
      content: attr(data-text);
      top: -1px;
      left: 0;
      opacity: .8;
    }

    &::before {
      color: #f7024c;
	  	z-index: -2;
    }

    &::after {
      color: rgb(0, 52, 223);
		  z-index: -1;
    }

    &:hover {
      &:before {
        animation: glitch .3s cubic-bezier(.25, .46, .45, .94) infinite;
      }
      &:after {
        animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse infinite;
      }
    }
  }

  @keyframes glitch {
    0% {
      transform: translate(0)
    }
    20% {
      transform: translate(-1px, 3px)
    }
    40% {
      transform: translate(-2px, -3px)
    }
    60% {
      transform: translate(2px, 2px)
    }
    80% {
      transform: translate(2px, -3px)
    }
    to {
      transform: translate(0)
    }
  }

  &__btn {
    position: relative;
    margin-top: 15px;
    margin-left: auto;
    padding: 20px 31px;
    width: 114px;
    height: 54px;
    font-size: 12px;
    line-height: 16px;
    background-color: transparent;
    border: 0.3px solid #131313;

    &:hover.header__btn::before {
      transform: translate(7px, 5px);
    }

    &::before {
      content: "Let’s Talk";
      position: absolute;
      top: -7px;
      left: -8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 115px;
      height: 54px;
      background-color: $cBg;
      transition: transform .4s ease-in-out;
    }
  }

  &__menu-btn {
    display: none;
  }

  &__menu {
    display: none;
  }
}

@media (max-width: 1202px) {
  .header__container {
    min-height: 116px;
    padding: 21px 40px 15px;
  }
}

@media (max-width: 1025px)  {
  .header__container {
    min-height: 106px;
    padding: 15px 30px;
  }
}

@media (max-width: 863px) {
  .header {
    background-color: $cBg;

    &::before,
    &::after {
      display: none;
    }

    &__nav {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__container {
      align-items: flex-end;
      justify-content: space-between;
      min-height: 72px;
      padding: 5px 24px;
    }

    &__logo {
      width: 100px;
      margin-right: 0;
      transform: translateY(17px);
    }

    &__menu-btn {
      display: block;
      padding: 0;
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      color: #FFFCEF;
      background-color: transparent;
      border: none;
    }

    &__menu{
      display: block;
      position: absolute;
      top: 70px;
      right: 0;
      width: 50vw;
      height: 100vh;
      padding: 100px 50px 50px;
      background-color: $cBg;
      transform: translateX(110%);
      transition: transform .3s ease-in-out;

      &-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &-nav-item:not(:last-child) {
        margin-bottom: 60px;
      }

      &-nav-link {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .menu_active {
    transform: none;
  }
}

@media (max-width: 656px) {
  .header__menu {
    width: 100vw;
  }
}
