$font617: '1,617', sans-serif;
$fontAxiforma: "Axiforma", sans-serif;

$cWhite: #fff;
$cBlack: #000;
$cText: #c6c6c6;
$cYellow: #F7D960;
$cLightYellow: #FFE786;

$cLink: #FFFCEF;
$cText: #ddd;
$cCopyright: #c3c3c3;
$cProgressBar: #2b2a29;
$cPrBarBig: #3F3F3C;
$cBg: #131313;
$cBg-header: rgba(#000, .6);


$cSvg: #c6c6c6;
